{% extends 'base.html.twig' %}





{% block navbar %}

    <a class="nav-item nav-link " href="{{ path('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link " href="{{ path('stage') }}">Stages <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link active " href="">Entreprises <span class="sr-only">(current)</span></a>                                
                  
{% endblock %}

