{% extends 'base.html.twig' %}

{% block title %} Formations {% endblock %}

{% block titrePage %}
Toutes les formations
{% endblock %}
{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Formation
        </th>
        <th>
            Tous les stages
        </th>
    </tr>
</thead>
{% endblock %}


{% block elementTab  %}
<tbody>
    {% for formation in infoFormation %}

        <tr>
            <td>
                {{formation.id}}
            </td>
            <td>
                {{formation.libelle}}
            </td>
            <td>
                <a href= "{{path('stageParFormation',{nom:formation.nomComplet})}}">Consulter les stages </a>
            </td>
            
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}