{% extends 'base.html.twig' %}

{% block title %}Stage n°{{id}}{% endblock %}


{% block titrePage %}
Affiche du stage: {{infoStage.titre}}
{% endblock %}

{% block details %}

    <h3>
        {{infoStage.descriptionMission}} <br>
        
    </h3>

    <h5>
        Ce stage est proposé par: {{infoStage.entreprise.nom}}
    </h5>
        

{% endblock %}


