{% extends 'base.html.twig' %}

{% block titrePage %}
Liste des stages
{% endblock %}
{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            Titre
        </th>
        <th>
            Proposé par
        </th>
        <th>
            Description
        </th>
        <th>
            Site
        </th>
    </tr>
</thead>
{% endblock %}

{% block elementTab  %}
<tbody>
    {% for stage in infoStages %}

        <tr>
            <td>
                {{stage.titre}}
            </td>
            <td>
                {{stage.entreprise.nom}}
            </td>
            <td>
                
                {{stage.descriptionMission}}<br>

            </td>
            <td>
                {{stage.email}}
            </td>
            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}