{% extends 'base.html.twig' %}


{% block titrePage %}
Liste des stages
{% endblock %}
{% block enTeteTableau %}
<thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Nom
        </th>
        <th>
            Adresse
        </th>
        <th>
            Site
        </th>
    </tr>
</thead>
{% endblock %}

{% block elementTab  %}
<tbody>
    {% for stage in infoStages %}

        <tr>
            <td>
                {{stage.id}}
            </td>
            <td>
                {{stage.titre}}
            </td>
            <td>
                
                {{stage.descriptionMission}}<br>

            </td>
            <td>
                {{stage.email}}
            </td>            
        </tr>
</tbody>
    {% endfor %}



{% endblock %}