{% extends 'base.html.twig' %}

{% block titrePage %}New Formations{% endblock %}

{% block contenuPage %}
    <h1>Create new Formations</h1>

    {{ include('formations/_form.html.twig') }}

    <a href="{{ path('formations_index') }}">back to list</a>
{% endblock %}
